{% extends "layout.html.twig" %}

{% block content %}
    <form>
        Search: <input type="text" id="search">
    </form>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="row">
                <h3>To do</h3>
            </div>
            <div class="row">
                <h4>{{ issues.openIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In progress</h3>
            </div>
            <div class="row">
                <h4>{{ issues.inProgressIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Waiting for validation</h3>
            </div>
            <div class="row">
                <h4>{{ issues.toReviewIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Done</h3>
            </div>
            <div class="row">
                <h4>{{ issues.doneIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In production</h3>
            </div>
            <div class="row">
                <h4>{{ issues.closedIssuesPercentage }}%</h4>
            </div>
        </div>

    </div>
    </br>
    {% for issue in issues.issues %}
        <div class="row">

            <div class="col-md-2">
                <a href="{{ issue.link }}" target="_blank">{{ issue.key }}</a>
            </br>
                <input type="button" class="undo" name="{{ issue.link }}" value="Add to mail">
            </div>
            {% for customfield in issue.customfields %}
                <div class="col-md-2">
                    {{ customfield['name'] }}
                    {% if customfield.checked %}
                        <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                {% endif %}
            </div>
                {% if loop.index % 5 == 0 %}
                    </br></br><div class="col-md-2"></div>
                {% endif %}
            {% endfor %}
        </div>

        
    {% endfor %}
{% endblock %}
