{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="row">
                <h3>To do</h3>
            </div>
            <div class="row">
                {{ issues.openIssuesPercentage }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In progress</h3>
            </div>
            <div class="row">
                {{ issues.inProgressIssuesPercentage }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Waiting for validation</h3>
            </div>
            <div class="row">
                {{ issues.toReviewIssuesPercentage }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Done</h3>
            </div>
            <div class="row">
                {{ issues.doneIssuesPercentage }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In production</h3>
            </div>
            <div class="row">
                {{ issues.closedIssuesPercentage }}
            </div>
        </div>

    </div>

    {% for issue in issues.issues %}
        <div class="row">
            <div class="col-md-2">
                {{ issue.key }}
            </div>
            {% for customfield in issue.customfields %}
                <div class="col-md-2">
                    {{ customfield['name'] }}
                    {% if customfield.checked %}
                        <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                {% endif %}
            </div>
                {% if loop.index % 5 == 0 %}
                    </div><div class="row"><div class="col-md-2"></div>
                {% endif %}
            {% endfor %}
        </div>
        </br>
    {% endfor %}
{% endblock %}
