{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        Search on key: <input type="text" class="search" data-target="issue-name"> <i class="fas fa-search"></i>
    </div>
    <div class="col-md-3">
        Search on key: <input type="text" class="search" data-target="issue-notname"> <i class="fas fa-search"></i>
    </div>
    <div class="col-md-3">
        Search on type:
        <select class="search" data-target="issue-type">
            <option value="All">All</option>
            <option value="Bug">Bug</option>
            <option value="Improvement">Improvement</option>
            <option value="Task">Task</option>
            <option value="New Feature">New feature</option>
            <option value="Sub-task">Sub-task</option>
        </select>
    </div>

    <div class="col-md-3">
        Search on Status:
        <select class="search" data-target="issue-status">
            <option value="All">All</option>
            <option value="Reopened">To do/ Reopened</option>
            <option value="In Progress">In progress</option>
            <option value="Review">Waiting for validation</option>
            <option value="Resolved">Done</option>
            <option value="Closed">In production</option>
        </select>
    </div>
</div>

    <a href="{{ app.url_generator.generate('maildone') }}">mail done</a>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="row">
                <h3>To do</h3>
            </div>
            <div class="row">
                <h4>{{ issues.openIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In progress</h3>
            </div>
            <div class="row">
                <h4>{{ issues.inProgressIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Waiting for validation</h3>
            </div>
            <div class="row">
                <h4>{{ issues.toReviewIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>Done</h3>
            </div>
            <div class="row">
                <h4>{{ issues.doneIssuesPercentage }}%</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <h3>In production</h3>
            </div>
            <div class="row">
                <h4>{{ issues.closedIssuesPercentage }}%</h4>
            </div>
        </div>

    </div>
    </br>
    {% for issue in issues.issues %}
        <div class="row border">
        <hr>

            <div class="col-md-2">
                <a href="{{ issue.link }}" class="issue-name" target="_blank">{{ issue.key }}</a>
                </br>
                <div class="issue-type">
                    {{ issue.type }}
                </div>
                <div class="issue-status">
                    {{ issue.stateName }}
                </div>
                </br>
                <input type="button" class="undo" name="{{ issue.link }}" value="Add to mail">
            </div>
            {% for customfield in issue.customfields %}
                <div class="col-md-2">
                    {{ customfield['name'] }}
                    {% if customfield.checked %}
                        <i class="far fa-check-square"></i>
                    {% else %}
                        <i class="far fa-square"></i>
                    {% endif %}
                </div>
                {% if loop.index % 5 == 0 %}
                    </br></br><div class="col-md-2"></div>
                {% endif %}
            {% endfor %}
        </div>


    {% endfor %}
{% endblock %}
