{% extends "layout.html.twig" %}

{% block content %}


    Welcome to your new Silex Application!
    <h1>{{ sprint['sprintname'] }} id: {{  sprint['sprintId']  }}</h1>
    <h2>{{ sprint['goal'] }}</h2>

    {{ dump(sprint['issues']['issues']) }}
    {% for issue in sprint['issues']['issues'] %}
        {{ issue['self'] }}
    {% endfor %}
{% endblock %}
